@charset "UTF-8";

/* Start Header */
.navbar-custome {
    background-color: #004185;
    text-align: left;
}

.navbar-custome .container {
    float : right;
    padding: 2px 0px 0px;
}

.navbar-custome a, ul {
    color: #fff;
    float: right;
}


img.icon_menu {
    width: 60px;
}

/* end header */

/* start dropdown */

.dropdown-item-custome {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(15, 15, 15);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-custome:hover{
    color: #fff;
    text-decoration: none;
    background-color: lightgrey;
}

.dropdown-item-custome.active, .dropdown-item-custome:active {
    color: #fff;
    text-decoration: none;
    background-color: #004185;
}

